name: Cop
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true

      - name: Verify bundle installation
        run: |
          bundle --version
          bundle check || bundle install

      - name: Rubocop checks
        run: bundle exec rubocop
        continue-on-error: false

      - name: Run tests
        run: bundle exec rake test